.card-holder {
   display: flex;
   justify-content: space-around;
   padding: 0;
   margin-top: -20px;
 
   &__winner {
      position: absolute;
      top: 0;
      font-size: 50px;
      width: 100vw;
      height: 100vh;
      z-index: 8888;
      display: flex;
      justify-content: center;
      align-items: center;
      &-wrapper {
         background-color: black;
         opacity: 0.5;
         width: 100vw;
         height: 100vh;
      }
      &-text {
         color: red;
         position: absolute;
      }
   }
}
